    @import "compass";
    @import url(http://fonts.googleapis.com/css?family=Patua+One|Open+Sans);
    
    #ratingsTable {width:100%}
    #ratingsHeader {text-align:center}
    
    *	 {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    body {
        background:#353a40;
    }
    
    table {
        border-collapse: separate;
        background:#fff;
        @include border-radius(5px);
        margin:10px auto;
        @include box-shadow(0px 0px 5px rgba(0,0,0,0.3));
    }
    
    thead th{
        <!-- font-family: 'Patua One', cursive; -->
        font-size:16px;
        font-weight:400;
        color:#000;
        @include text-shadow(1px 1px 0px rgba(0,0,0,0.5));
        text-align:left;
        padding:10px;
        @include background-image(linear-gradient(#646f7f, #4a5564));
        border-top:1px solid #858d99;
    }
    
    &:first-child {
        @include border-top-left-radius(5px)
    }
    
    &:last-child {
        @include border-top-right-radius(5px);
    }
    
    tbody tr td {
        font-family: 'Open Sans', sans-serif;
        font-weight:400;
        color:#5f6062;
        font-size:13px;
        text-align:right;
        padding:2px 2px 2px 2px;
        border-bottom:1px solid #e0e0e0;
    }
    
    tbody td:first-child {
        text-align:left;
    }
    
    tbody tr:nth-child(2n) {
        background:#f0f3f5;
    }
    
    tbody tr:last-child td {
        border-bottom:none;
        @include border-bottom-left-radius(5px);
    }
    
    &:last-child {
        @include border-bottom-right-radius(5px);
    }
    
    #rating0 {
        color:red;
    }
    
    #header_title {
    	font-size:30px;
    	
    }