{% extends "base.html" %}

{% block css %}

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'Reports/style2.css' %}" />

{% endblock css %}

<!-- Top row with links 
     TODO
        create teamContainer
        create statsContainer
        change +/- to plusMinus in the database	
        create ratingsHeader css
        create playerHeader css
        create ratingX css
        create playerTeamHeader css
        create 'best position' function in the player_bio model
        add Reports\Players\id to the url listing
     CSS for ratings need to be annotated like this:
     rating0 would be red
     rating10 would be yellow 
     rating20 would be blue, etc or whatever color it is in the game
--> 

{% block title %}{{ leagueContainer.name }}{% endblock title %}

{% block header_info %}
	<div style="text-align: left">
		<h1>{{ leagueContainer.name }}</h1>
	</div>
{% endblock header_info %}

{% block master_links %}
    <td style="border:none; text-align:center"><a href="/Reports">League Index</a></td>
    <td style="border:none; text-align:center"><a href="/Reports/Leagues/{{ leagueContainer.leagueId }}">{{ leagueContainer.abbr }}</a></td>
    <td style="border:none; text-align:center"><a href="/Reports/Leagues/{{ leagueContainer.leagueId }}/Schedule">League Schedule</a></td>
	<td style="border:none; text-align:center"><a href="/Reports/Leagues/{{ leagueContainer.leagueId }}/Standings">League Standings</a></td>
{% endblock %}

{% block player_picture %}
	<img src="/static/Reports/graphics/logo_leagues/{{ logo }}" />
{% endblock player_picture %}
	
{% block team_logo %}
{% endblock team_logo %}

{% block content %}




<!-- content --> 

<!-- outer table -->
<div style="width:800px; vertical-align:center">
	<table>
		<tr style="vertical-align:top">
			
			<!-- top stats loop -->
			{% for currentStat in stats %}
				{% cycle 'g' 'a' 'plusMinus' as text silent %}
				<td><table style="width 100%">
					<thead>
						<th colspan="3" style="text-align: center">
							{% if text == 'g' %}
								Top Goals
							{% elif text == 'a' %}
								Top Assists
							{% elif text == 'plusMinus' %}
								Top +/-
							{% endif %}
						</th>
					</thead>
					{% for x in currentStat %}
						{% if x == currentStat.first %}
							<!-- stat leader -->
							<tr>
								<td colspan="3">
									<div style="text-align:center; font-weight:600">
										<a href="/Reports/Players/{{ x.playerId.playerId }}">
											<img src="/static/Reports/graphics/player_pics/{{ x.playerId.image }}" /><br>
											{{ x.playerId.playerName }}
										</a><br>
										<a href="/Reports/Teams/{{ x.teamId.teamId }}">
											{{ x.teamId.name }} {{ x.teamId.nickname }}
										</a><br>
										{% if text == 'g' %}
											{{ x.g }} Goals
										{% elif text == 'a' %}
											{{ x.a }} Assists
										{% elif text == 'plusMinus' %}
											+{{ x.plusMinus }}
										{% endif %}
									</div>
								</td>
							</tr>
						{% else %}
							<tr>
								<td>
									<a href="/Reports/Players/{{ x.playerId.playerId }}">{{ x.playerId.playerName }}</a>
								</td>
								<td>
									<a href="/Reports/Teams/{{ x.teamId.teamId }}">{{ x.teamId.teamAbbr }}</a>
								</td>
								<td>
									{% if text == 'g' %}
										{{ x.g }}
									{% elif text == 'a' %}
										{{ x.a }}
									{% elif text == 'plusMinus' %}
										+{{ x.plusMinus }}
									{% endif %}
								</td>	
							</tr>
						{% endif %}
					{% endfor %}
				</table></td>
			{% endfor %}
		
			<!-- player roster table -->
			<table style="width 100%">
				<thead>
					<th>Teams</th> <th>Record</th>
				</thead>			
				{% for team in teamContainer %}
					<tr>
						<td>
							<a href="/Reports/Teams/{{ team.teamId }}">{{ team.name }} {{ team.nickname }}</a>
						</td>
					</tr>
				{% endfor %}			
			</table>
		
		</tr>
	</table>
</div>

{% endblock content %}