{% extends "base.html" %}

{% block css %}

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'Reports/style2.css' %}" />

{% endblock css %}

<!-- Top row with links 
     TODO
        create teamContainer
        create statsContainer
        change +/- to plusMinus in the database	
        create ratingsHeader css
        create playerHeader css
        create ratingX css
        create playerTeamHeader css
        create 'best position' function in the player_bio model
        add Reports\Players\id to the url listing
     CSS for ratings need to be annotated like this:
     rating0 would be red
     rating10 would be yellow 
     rating20 would be blue, etc or whatever color it is in the game
--> 

{% block title %}{{ bioContainer.playerName }}{% endblock title %}

{% block header_info %}
<div style="text-align: left">
<h1>{{ position }} {{ bioContainer.playerName }} #{{ bioContainer.number }}</h1>
<h2><div id="header_subtitle">
	<p>{{ teamContainer.name }} {{ teamContainer.nickname }} | {{ leagueContainer.name }}</p> 
	<p>Age: {{ bioContainer.age }} | GP: {{ stats.first.gp }} | PTS: {{ stats.first.p }} | G: {{ stats.first.g }} | A: {{ stats.first.a }} | +/-: {{ stats.first.plusMinus }}</p>
</div></h2>
</div>
{% endblock header_info %}

{% block player_picture %}

<img src="/static/Reports/graphics/player_pics/{{ imageFile }}" />

{% endblock player_picture %}

{% block team_logo %}

<a href="/Reports/Teams/{{ teamContainer.teamId }}"><img src="/static/Reports/graphics/logo_teams/{{ teamFile }}" /></a>

{% endblock team_logo %}

{% block content %}




<!-- content --> 

<!-- outer table -->
<div style="width:800px; vertical-align:center">
<table style="width:100%">

<tr style="vertical-align:top">

<!-- personal data -->

<td style="width:25%"><table style="width:100%" id="ratingsTable">

<thead><th colspan=2 id="ratingsHeader">PERSONAL DETAILS</th></thead>

<tr><td>Age</td><td>{{ bioContainer.age }}</td></tr>

<tr><td>Date of Birth</td><td>{{ bioContainer.dateOfBirth }}</td></tr>

<tr><td>Height</td><td>{{ bioContainer.height }}"</td></tr>

<tr><td>Weight</td><td>{{ bioContainer.weight }} lbs</td></tr>

<tr><td>Jersey #</td><td>{{ bioContainer.number }}</td></tr>

<tr><td>Team</td><td><a href="/Reports/Teams/{{ teamContainer.teamId }}">{{ teamContainer.name }} {{ teamContainer.nickname }}</a></td></tr>

</table></td>

<!-- positions -->

<td style="width:25%"><table id="ratingsTable" style="width:100%">

<thead><th colspan=2 id="ratingsHeader">POSITION RATINGS</th></thead>

<tr><td>Goalie</td><td id="rating{{ ratingsContainer.g }}">{{ ratingsContainer.g }}</td></tr>

<tr><td>Left Defense</td><td id="rating{{ ratingsContainer.ld }}">{{ ratingsContainer.ld }}</td></tr>

<tr><td>Right Defense</td><td id="rating{{ ratingsContainer.rd }}">{{ ratingsContainer.rd }}</td></tr>

<tr><td>Left Wing</td><td id="rating{{ ratingsContainer.lw }}">{{ ratingsContainer.lw }}</td></tr>

<tr><td>Center</td><td id="rating{{ ratingsContainer.c }}">{{ ratingsContainer.c }}</td></tr>

<tr><td>Right Wing</td><td id="rating{{ ratingsContainer.rw }}">{{ ratingsContainer.rw }}</td></tr> 

</table></td>

<!-- offensive/defensive -->

<td style="width:25%"><table id ="ratingsTable" style="height:50%; width:100%;">

<thead><th colspan=2 id="ratingsHeader">OFFENSIVE RATINGS</th></thead>

<tr><td>Balance</td><td id="rating{{ ratingsContainer.balance }}">{{ ratingsContainer.balance }}</td></tr>

<tr><td>Shooting</td><td id="rating{{ shooting }}">{{ shooting }}</td></tr> 

<tr><td>Puckhandling</td><td id="rating{{ ratingsContainer.puckHandling }}">{{ ratingsContainer.puckHandling }}</td></tr>

<tr><td>Positioning</td><td id="rating{{ ratingsContainer.positioning }}">{{ ratingsContainer.positioning }}</td></tr> 

</table>

<table id="ratingsTable" style="height:50%; width:100%;">

<thead><th colspan=2 id="ratingsHeader">DEFENSIVE RATINGS</th></thead>

<tr><td>Positioning</td><td id="rating{{ ratingsContainer.positioning }}">{{ ratingsContainer.positioning }}</td></tr>

<tr><td>Faceoffs</td><td id="rating{{ ratingsContainer.faceoffs }}">{{ ratingsContainer.faceoffs }}</td></tr>

<tr><td>Hitting</td><td id="rating{{ ratingsContainer.hitting }}">{{ ratingsContainer.hitting }}</td></tr>

<tr><td>Stickchecking</td><td id="rating{{ ratingsContainer.stickchecking }}">{{ ratingsContainer.stickchecking }}</td></tr>

<tr><td>Fighting</td><td id="rating{{ ratingsContainer.fighting }}">{{ ratingsContainer.fighting }}</td></tr> 

</table></td>

<!-- others -->

<td style="width:25%"><table id="ratingsTable" style="height: 50%; width:100%">

  <thead><th colspan=2 id="ratingsHeader">OTHER RATINGS</th></thead>

<tr><td>Speed</td><td id="rating{{ ratingsContainer.speed }}">{{ ratingsContainer.speed }}</td></tr>

<tr><td>Stamina</td><td id="rating{{ ratingsContainer.stamina2 }}">{{ ratingsContainer.stamina2 }}</td></tr>

<tr><td>Teamplay</td><td id="rating{{ ratingsContainer.teamplay }}">{{ ratingsContainer.teamplay }}</td></tr>

</table>

<table id="ratingsTable" style="height:50%; width:100%">

 <thead><th colspan=4 id="ratingsHeader">OVERALL</th></thead>

<tr><td>Ability</td><td style="font-size: 20px; font-weight: bold;">{{ bioContainer.ability }}</td>
<td>Potential</td><td style="font-size: 20px; font-weight: bold;">{{ bioContainer.potential }}</td></tr>

</table>

</td>

</tr>

<table id="ratingsTable" style="width:100%">

<tr style="vertical-align:top">

<td style="width:25%"><table id="ratingsTable">

<thead><th colspan=2 id="ratingsHeader">CONTRACT</th></thead>

<tr><td style="align-left">Salary</td><td style="align-left">{{ bioContainer.salary }}</td></tr>

<tr><td style="align-left">Contract Length</td><td style="align-left">{{ bioContainer.contractLength }}</td></tr>

</table></td>

<td colspan=3 style="width:100%"><table id="statsTable">

<thead><th id="ratingsHeader">STATS</th>

<th id="ratingsHeader">Team</th>

<th id="ratingsHeader">GP</th>

<th id="ratingsHeader">G</th>

<th id="ratingsHeader">A</th>

<th id="ratingsHeader">+/-</th>

<th id="ratingsHeader">PIM</th>

<th id="ratingsHeader">Hits</th>

<th id="ratingsHeader">PDO</th>

<th id="ratingsHeader">CORSI-REL</th>

</thead></tr>

<!-- current year
<tr rowspan=2 id="statsRow">

             <td>Current Year</td>
             <td> {{ teamContainer.teamAbbr }}</td>
             <td> {{ statsContainer.gamesPlayed }}</td>
             <td> {{ statsContainer.goals }}</td>
             <td> {{ statsContainer.assists }}</td>
             <td> {{ statsContainer.plusMinus }}</td>
             <td> {{ statsContainer.penaltyMinutes }}</td>
             <td> {{ statsContainer.hits }}</td>
             <td> {{ statsContainer.PDO }}</td>
             <td> {{ statsContainer.corsiRelative }}</td>

</tr>

end old block for current stats -->

<!-- historical stats: start new block with all stats -->
{% for y in stats %}

<tr rowspan=2 id="statsRow">

             <td>{{ y.year }}</td>
             <td>{{ y.teamIdPast.teamAbbr }}</td>
             <td>{{ y.gp }}</td>
             <td>{{ y.g }}</td>
             <td>{{ y.a }}</td>
             <td>{{ y.plusMinus }}</td>
             <td>{{ y.pim }}</td>
             <td>{{ y.hit }}</td>
             <td>none</td>
             <td>none</td>

</tr>

{% endfor %}

</table></td>

</tr>

</table>

</table>

</div>

{% endblock content %}