{% extends "base.html" %}

{% block css %}

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'Reports/style2.css' %}" />

{% endblock css %}

<!-- Top row with links 
     TODO
        create teamContainer
        create statsContainer
        change +/- to plusMinus in the database	
        create ratingsHeader css
        create playerHeader css
        create ratingX css
        create playerTeamHeader css
        create 'best position' function in the player_bio model
        add Reports\Players\id to the url listing
     CSS for ratings need to be annotated like this:
     rating0 would be red
     rating10 would be yellow 
     rating20 would be blue, etc or whatever color it is in the game
--> 

{% block title %}{{ s.leagueId.name }} Standings{% endblock title %}

{% block header_info %}
	<div style="text-align: left">
		<h1>{{ s.leagueId.name }} Standings</h1>
	</div>
{% endblock header_info %}

{% block master_links %}
    <td style="border:none; text-align:center"><a href="/Reports">League Index</a></td>
    <td style="border:none; text-align:center"><a href="/Reports/Leagues/{{ s.first.leagueId.leagueId }}">{{ s.first.leagueId.abbr }}</a></td>
    <td style="border:none; text-align:center"><a href="/Reports/Leagues/{{ s.first.leagueId.leagueId }}/Schedule">League Schedule</a></td>
	<td style="border:none; text-align:center"><a href="/Reports/Leagues/{{ s.first.leagueId.leagueId }}/Standings">League Standings</a></td>
{% endblock %}

{% block player_picture %}
	<img src="/static/Reports/graphics/logo_leagues/{{ logo }}" />
{% endblock player_picture %}
	
{% block team_logo %}
{% endblock team_logo %}


{% block content %}




<!-- content --> 

<!-- outer table -->
<div style="width:800px; vertical-align:center">
	<table style="width:100%">
		<tr style="vertical-align:top">
			
			<!-- standings table -->
			<table style="width 100%">
				<thead>
					<th>Team</th><th>W</th><th>L</th><th>T</th><th>P</th><th>GP</th><th>GF</th><th>GA</th><th>GD</th>
				</thead>			
				{% for e in s %}
					<tr>
						<td>
							<a href="/Reports/Teams/{{ e.teamId.teamId }}">{{ e.teamId.name }} {{ e.teamId.nickname }}</a>
						</td>
						<td>
							{{ e.w }}
						</td>
						<td>
							{{ e.l }}
						</td>
						<td>
							{{ e.t }}
						</td>
						<td>
							{{ e.p }}
						</td>
						<td>
							{{ e.gp }}
						</td>
						<td>
							{{ e.gf }}
						</td>
						<td>
							{{ e.ga }}
						</td>
						<td>
							{{ e.gd }}
						</td>
					</tr>
				{% endfor %}			
			</table>
		
		</tr>
	</table>
</div>

{% endblock content %}