{% extends "base.html" %}

{% block css %}

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'Reports/style2.css' %}" />

{% endblock css %}

<!-- Top row with links 
     TODO
        create teamContainer
        create statsContainer
        change +/- to plusMinus in the database	
        create ratingsHeader css
        create playerHeader css
        create ratingX css
        create playerTeamHeader css
        create 'best position' function in the player_bio model
        add Reports\Players\id to the url listing
     CSS for ratings need to be annotated like this:
     rating0 would be red
     rating10 would be yellow 
     rating20 would be blue, etc or whatever color it is in the game
--> 

{% block title %}{{ teamContainer.name }} {{ teamContainer.nickname }}{% endblock title %}

{% block header_info %}
	<div style="text-align: left">
		<h1>{{ teamContainer.name }} {{ teamContainer.nickname }}</h1>
	</div>
{% endblock header_info %}

{% block player_picture %}
	<a href="/Reports/Teams/{{ teamContainer.teamId }}"><img src="/static/Reports/graphics/logo_teams/{{ teamFile }}" /></a>
{% endblock player_picture %}

{% block team_logo %}
	<a href="/Reports/Leagues/{{ teamContainer.leagueId_id }}"><img src="/static/Reports/graphics/logo_leagues/{{ logo }}" /></a>
{% endblock team_logo %}

{% block content %}




<!-- content --> 

<!-- outer table -->
<div style="width:800px; vertical-align:center">
	<table>
		<tr style="vertical-align:top">
		
			<!-- top goal scorers table -->
			<td><table style="width 100%">
				<thead>
					<th colspan="2" style="text-align: center">Goals Leaders</th>
				</thead>
					<tr>
						<td colspan="2">
							{% for x in firstGoalsContainer %}<a href="/Reports/Players/{{ x.playerId }}"><img src="/static/Reports/graphics/player_pics/{{ firstGoalsImage }}" /><br>
							<div style="text-align:center; font-weight:600">{{ x.playerName }}<br>{{ x.goals }} Goals</div></a>{% endfor %}
						</td>
					</tr>
				{% for player in topGoalsContainer %}
					<tr>
						<td>
							<a href="/Reports/Players/{{ player.playerId }}">{{ player.playerName }}</a>
						</td>
						<td>
							{{ player.goals }}
						</td>	
					</tr>
				{% endfor %}
			</table></td>
			<!-- top assists table -->
			<td><table style="width 100%">
				<thead>
					<th colspan="2" style="text-align: center">Assists Leaders</th>
				</thead>		
					<tr>
						<td colspan="2">
							{% for x in firstAssistsContainer %}<a href="/Reports/Players/{{ x.playerId }}"><img src="/static/Reports/graphics/player_pics/{{ firstAssistsImage }}" /><br>
							<div style="text-align:center; font-weight:600">{{ x.playerName }}<br>{{ x.assists }} Assists</div></a>{% endfor %}
						</td>
					</tr>				
				{% for player in topAssistsContainer %}
					<tr>
						<td>
							<a href="/Reports/Players/{{ player.playerId }}">{{ player.playerName }}</a>
						</td>
						<td>
							{{ player.assists }}
						</td>	
					</tr>
				{% endfor %}
			</table></td>		
		
			<!-- player roster table -->
			<table style="width 100%">
				<thead>
					<th>{{ teamContainer.nickname }} Roster</th> <th>Position</th> <th>Ht.</th> <th>Wt.</th> <th>Age</th> <th>#</th> <th>Ability</th> <th>Potential</th>
				</thead>			
				{% for player in playerContainer %}
					<tr>
						<td>
							<a href="/Reports/Players/{{ player.playerId.playerId }}">{{ player.playerId.playerName }}</a>
						</td>
						<td>
							{{ player.pos }} 
						</td>
						<td>
							{{ player.playerId.height }}
						</td>
						<td>
							{{ player.playerId.weight }}
						</td>
						<td>
							{{ player.playerId.age }}
						</td>
						<td>
							{{ player.playerId.number }}
						</td>
						<td>
							{{ player.playerId.ability }}
						</td>
						<td>
							{{ player.playerId.potential }}
						</td>
					</tr>
				{% endfor %}			
			</table>
		
		</tr>
	</table>
</div>

{% endblock content %}