<!DOCTYPE html>
<html lang="en">
<head>

 
 {% load staticfiles %}
 {% block css %}
 <link rel="stylesheet" type="text/css" href="{% static 'base_style.css' %}" />
 {% endblock css %}


 <title>{% block title %} FHM2Reports {% endblock %}</title>
</head>

<body>

<div id="master"><table style="width:968px" id="masterTable">
 <tr>
  <td>
   <div id="header"><table style="height:168px" id="headerTable">
    <tr>
     <td style="width:160px" id="imageCell">
      {% block league_image %}{% endblock %}
      {% block player_picture %}{% endblock %}
     </td>
     <td>
      <table style="width:648px">
       <tr>
        <td colspan=10>
         {% block header_info %}{% endblock %}
        </td>
       </tr>
       <tr style="text-align:center; border:none">
         {% block master_links %}
         <td style="border:none; text-align:center"><a href="/Reports">League Index</a></td>
         <td style="border:none; text-align:center"><a href="/Reports/Leagues/{{ leagueContainer.leagueId }}">{{ leagueContainer.abbr }}</a></td>
         <td style="border:none; text-align:center"><a href="/Reports/Teams/{{ teamContainer.teamId }}">{{ teamContainer.name }} {{ teamContainer.nickname }}</a></td>
         <td style="border:none; text-align:center"><a href="/Reports/Leagues/{{ leagueContainer.leagueId }}/Schedule">League Schedule</a></td>
         {% endblock %}
       </tr>
      </table>
     </td>
     <td style="width:168px" id="imageCell">
      {% block team_logo %}{% endblock %}
     </td>
    </tr>
   </table></div>
  </td>
 </tr>
 <tr>
  <td>
   <div id="content"><table id="contentTable">
    {% block content %}{% endblock %}
   </table></div>
  </td>
 </tr>
 <tr>
  <td>
   {% block footer %}{% endblock %}
  </td>
 </tr>
</table></div>

</body>

</html>